/* color start here*/

$primary: '#5258E4';

/* color end here*/
/*container variable start here*/
$container: 1216px;
/*container variable end here*/
$h1: normal 600 56px/68px;
$h2: normal 600 40px/48px;
$h3: normal 600 56px/68px;
$h4: normal 600 56px/68px;
$h5: normal 600 56px/68px;
$h6: normal 600 56px/68px;